name: Build MyLauncher (macOS)

on:
  push:
    branches: [ main ]

jobs:
  build-mac:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Qt
        run: |
          brew update
          brew install qt qtsvg qtpdf qtvirtualkeyboard

      - name: Configure with Xcode
        run: cmake -S . -B build -G Xcode

      - name: Build app
        run: cmake --build build --config Release

      - name: Deploy Qt
        run: macdeployqt build/Release/MyLauncher.app

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: MyLauncher-mac
          path: build/Release/MyLauncher.app
